这是一级标题：
#  go@about[部署成功]
这是一个二级标题：
## 二级标题
---
:::> [o|100]
居中的红色注意框内容
:::
:::> [green\]
靠左的绿色注意框内容@
:::

::: [blue/]
靠右的蓝色注意框内容
:::

---
这是一个表格：

| 姓名   | 年龄 |
|-------|-----|
| 张三   | 25  |
| 李四   | 30  |
---
这是一个代码块：
## 第三个标题
```sql
function hello() {
console.log("Hello, world!");
}
```
---
这是一个红色代码：:red:console.log("Hello"):red:，还有绿色代码：:green:doSomething():green:。
默认代码：::let a = 1;::。
高亮代码：:highlight:function hello() { alert('Hi'); }:highlight:
---
这是一个无序列表：

* 一级
** 二级
*** 三级
**** 四级
** 另一个二级
* 又一个一级
** 二级
*** 三级
** 另一个二级

---

这是一个有序列表：
1. 学习 HTML1
1.1. 学习 HTML1.1
1.2. 学习 HTML1.2
1.2.3. 学习 HTML1.2.1
2. 学习 CSS
3. 学习 JavaScript


这是新版本新增的一些参考MarkDown编写的快捷语法支持
---
<div data-no-search>
    不会被搜索的内容---写法1
</div>
---
<div class="no-search">
    不会被搜索的内容---写法2
</div>
---
{no?}
不会被搜索的内容---写法3
{/no?}

---
